<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="KBCsv" version="6.0.0" targetFramework="net471"/>
    <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net471"/>
    <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net471"/>
    <package id="VdfConverter" version="1.0.1" targetFramework="net471"/>
</packages>